body{
    text-align: center;
    background-color:lightpink;
}
.row::after{
    content:"";
    clear:both;
    display:table;
}
.campus{
    float:left;
    width:33.33%;
    padding:5px;
    border:3px solid white;
}
campus img{
    width:100%;
    height:300px;
}
campus hr{
    width:100%;
}
#achievementsID{
    padding-bottom:10px;
}
.achieveing{
    font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
    width:100%;
    display:inline-block;
}
.achieveing i{
    float:right;
}
.achieveing_text span{
    color: coral;
}
.newthings{
    margin-top:15px;
    border-radius: 20px;
    border:3px solid black;
    
}
.newthings h2{
    padding:10px
    bottom-border:3px solid black;
}
.newthings h4{
    margin-top:10px;
}
.alumni{
    cursor:pointer;
    background-color: white;
    margin-left: 100px;
padding-right:-10px;
    padding-left:-20px;
}
.img_modal{
display: inline-block;
}
.modal-body{
    text-align:center;
}
#footer{
height:20px;
    background-color: white;
}
.navbar{
    position:sticky;
}
